In [1]:
2+2

4

In [3]:
5%2

1

In [4]:
4%2

0

In [5]:
var = 2

In [6]:
var

2

In [9]:
var = var*7

In [10]:
var

98

In [11]:
2*var

196

In [13]:
name_of = 2

In [14]:
name_of

2

In [15]:
'Harish'

'Harish'

In [17]:
"Harish"

'Harish'

In [18]:
"I can't go"

"I can't go"

In [21]:
x = 'hello'

In [22]:
x

'hello'

In [23]:
print(x)

hello

In [24]:
print('my name is {}'.format(name_of))

my name is 2

In [25]:
'my name is {}'.format(name_of)

'my name is 2'

In [26]:
s = 'hello'

In [27]:
s

'hello'

In [29]:
s[2]

'l'

In [30]:
s[:]

'hello'

In [31]:
s[:4]

'hell'

In [32]:
[1,2,3]

[1, 2, 3]

In [34]:
A = ['a','b','c','d','e']

In [35]:
A

['a', 'b', 'c', 'd', 'e']

In [36]:
A.append('S')

In [37]:
A

['a', 'b', 'c', 'd', 'e', 'S']

In [38]:
nest = [1,2,['a','b']]

In [39]:
nest

[1, 2, ['a', 'b']]

In [40]:
type(nest)

list

In [43]:
nest[2][1]

'b'

In [44]:
nest = [1,2,3,[4,5,['target']]]

In [45]:
nest[3][2][0]

'target'

In [46]:
d = {'key1':1,'key2':2}

In [47]:
d

{'key1': 1, 'key2': 2}

In [50]:
d['key1'] = [1,2,3]

In [51]:
d

{'key1': [1, 2, 3], 'key2': 2}

In [53]:
a = d['key1'][2]

In [54]:
a = 4

In [55]:
d

{'key1': [1, 2, 3], 'key2': 2}

In [56]:
a

4

In [57]:
True

True

In [58]:
False

False

In [59]:
True + False

1

In [60]:
t = (1,2,3,4)

In [61]:
type(t)

tuple

In [62]:
t[3]

4

In [63]:
{1,2,3,3,4,5,5}

{1, 2, 3, 4, 5}

In [64]:
s = {1,2,3}

In [65]:
s

{1, 2, 3}

In [66]:
s.add(4)

In [67]:
s

{1, 2, 3, 4}

In [68]:
if 1<2:
    print('Harish')

Harish

In [73]:
seq = [1,2,2,4,5,6]

In [74]:
for item in seq:
    print(item**4)

1
16
16
256
625
1296

In [76]:
i = 1
while i < 10:
    print('i is now: {}'.format(i))
    i = i + 1

i is now: 1
i is now: 2
i is now: 3
i is now: 4
i is now: 5
i is now: 6
i is now: 7
i is now: 8
i is now: 9

In [77]:
?range()

In [78]:
range(10)

range(0, 10)

In [80]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
seq

[1, 2, 2, 4, 5, 6]

In [85]:
out = [i**4 for i in seq]

In [86]:
out

[1, 16, 16, 256, 625, 1296]

In [97]:
def func(param1='o'):
    print('Hello ' + param1)

In [98]:
func('Harish')

Hello Harish

In [99]:
func

In [102]:
def times2(var):
    return var**2

In [113]:
list(map(t,seq))

[1, 4, 4, 16, 25, 36]

In [104]:
seq

[1, 2, 2, 4, 5, 6]

In [110]:
t = lambda var: var**2

In [112]:
t(6)

36

In [114]:
list(map(lambda var: var*2,seq))

[2, 4, 4, 8, 10, 12]