In [106]:
import numpy as np

In [107]:
import pandas as pd

In [108]:
data = pd.read_csv("olympics(1).csv",skiprows=1)

In [109]:
type(data)

pandas.core.frame.DataFrame

In [110]:
data.shape

(147, 16)

In [111]:
data.columns

Index(['Unnamed: 0', '? Summer', '01 !', '02 !', '03 !', 'Total', '? Winter',
       '01 !.1', '02 !.1', '03 !.1', 'Total.1', '? Games', '01 !.2', '02 !.2',
       '03 !.2', 'Combined total'],
      dtype='object')

In [112]:
col_names = data.columns

In [113]:
col_names

Index(['Unnamed: 0', '? Summer', '01 !', '02 !', '03 !', 'Total', '? Winter',
       '01 !.1', '02 !.1', '03 !.1', 'Total.1', '? Games', '01 !.2', '02 !.2',
       '03 !.2', 'Combined total'],
      dtype='object')

In [114]:
type(col_names)

pandas.core.indexes.base.Index

In [115]:
col_names.shape

(16,)

In [116]:
col_names[4]

'03 !'

In [117]:
col_names.dtype

dtype('O')

In [118]:
col_names == '01 !'

array([False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [119]:
col_names[1]

'? Summer'

In [120]:
col_names.unique()

Index(['Unnamed: 0', '? Summer', '01 !', '02 !', '03 !', 'Total', '? Winter',
       '01 !.1', '02 !.1', '03 !.1', 'Total.1', '? Games', '01 !.2', '02 !.2',
       '03 !.2', 'Combined total'],
      dtype='object')

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 16 columns):
Unnamed: 0        147 non-null object
? Summer          147 non-null int64
01 !              147 non-null int64
02 !              147 non-null int64
03 !              147 non-null int64
Total             147 non-null int64
? Winter          147 non-null int64
01 !.1            147 non-null int64
02 !.1            147 non-null int64
03 !.1            147 non-null int64
Total.1           147 non-null int64
? Games           147 non-null int64
01 !.2            147 non-null int64
02 !.2            147 non-null int64
03 !.2            147 non-null int64
Combined total    147 non-null int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [122]:
data.columns = ['Country','Summer Matches','Summer Gold','Summer Silver','Summer Bronze','Summer Total','Winter Matches','Winter Gold',
                'Winter Silver','Winter Bronze','Winter Total','Total Matches','Total Gold','Total Silver','Total Bronze','Total Medals']

In [123]:
data

,Country,Summer Matches,Summer Gold,Summer Silver,Summer Bronze,Summer Total,Winter Matches,Winter Gold,Winter Silver,Winter Bronze,Winter Total,Total Matches,Total Gold,Total Silver,Total Bronze,Total Medals
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
7,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
8,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
9,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
10,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
13,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
14,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
15,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
16,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
17,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
19,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
20,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
22,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
24,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
25,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
27,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
119,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
122,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
123,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
124,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
125,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
126,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
127,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
128,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
129,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
130,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
132,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
134,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
136,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
137,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
138,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
139,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
140,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [124]:
string = data['Country']

In [125]:
string.str.split()

0                                   [Afghanistan, (AFG)]
1                                       [Algeria, (ALG)]
2                                     [Argentina, (ARG)]
3                                       [Armenia, (ARM)]
4                            [Australasia, (ANZ), [ANZ]]
5                         [Australia, (AUS), [AUS], [Z]]
6                                       [Austria, (AUT)]
7                                    [Azerbaijan, (AZE)]
8                                       [Bahamas, (BAH)]
9                                       [Bahrain, (BRN)]
10                              [Barbados, (BAR), [BAR]]
11                                      [Belarus, (BLR)]
12                                      [Belgium, (BEL)]
13                                      [Bermuda, (BER)]
14                          [Bohemia, (BOH), [BOH], [Z]]
15                                     [Botswana, (BOT)]
16                                       [Brazil, (BRA)]
17                 [British, West, Indies, (BWI), [BWI]]
18                                [Bulgaria, (BUL), [H]]
19                                      [Burundi, (BDI)]
20                                     [Cameroon, (CMR)]
21                                       [Canada, (CAN)]
22                                   [Chile, (CHI), [I]]
23                                 [China, (CHN), [CHN]]
24                                     [Colombia, (COL)]
25                                  [Costa, Rica, (CRC)]
26                          [Ivory, Coast, (CIV), [CIV]]
27                                      [Croatia, (CRO)]
28                                    [Cuba, (CUB), [Z]]
29                                       [Cyprus, (CYP)]
                             ...
117                           [Sri, Lanka, (SRI), [SRI]]
118                                       [Sudan, (SUD)]
119                               [Suriname, (SUR), [E]]
120                                 [Sweden, (SWE), [Z]]
121                                 [Switzerland, (SUI)]
122                                       [Syria, (SYR)]
123              [Chinese, Taipei, (TPE), [TPE], [TPE2]]
124                                  [Tajikistan, (TJK)]
125                             [Tanzania, (TAN), [TAN]]
126                                    [Thailand, (THA)]
127                                        [Togo, (TOG)]
128                                       [Tonga, (TGA)]
129                [Trinidad, and, Tobago, (TRI), [TRI]]
130                                     [Tunisia, (TUN)]
131                                      [Turkey, (TUR)]
132                                      [Uganda, (UGA)]
133                                     [Ukraine, (UKR)]
134                      [United, Arab, Emirates, (UAE)]
135          [United, States, (USA), [P], [Q], [R], [Z]]
136                                     [Uruguay, (URU)]
137                                  [Uzbekistan, (UZB)]
138                                   [Venezuela, (VEN)]
139                                     [Vietnam, (VIE)]
140                             [Virgin, Islands, (ISV)]
141                           [Yugoslavia, (YUG), [YUG]]
142    [Independent, Olympic, Participants, (IOP), [I...
143                               [Zambia, (ZAM), [ZAM]]
144                             [Zimbabwe, (ZIM), [ZIM]]
145                          [Mixed, team, (ZZX), [ZZX]]
146                                             [Totals]
Name: Country, Length: 147, dtype: object

In [126]:
type(string.str.split())

pandas.core.series.Series

In [127]:
data['Country'] = data['Country'].apply(lambda x: x.split(' (')[0])

In [130]:
data.head()

,Country,Summer Matches,Summer Gold,Summer Silver,Summer Bronze,Summer Total,Winter Matches,Winter Gold,Winter Silver,Winter Bronze,Winter Total,Total Matches,Total Gold,Total Silver,Total Bronze,Total Medals
0,Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [131]:
data['Summer Matches'].sum()

1981

In [135]:
data.count()

Country           147
Summer Matches    147
Summer Gold       147
Summer Silver     147
Summer Bronze     147
Summer Total      147
Winter Matches    147
Winter Gold       147
Winter Silver     147
Winter Bronze     147
Winter Total      147
Total Matches     147
Total Gold        147
Total Silver      147
Total Bronze      147
Total Medals      147
dtype: int64

In [138]:
data['Country'].min()

'Afghanistan'

In [139]:
data.describe()

,Summer Matches,Summer Gold,Summer Silver,Summer Bronze,Summer Total,Winter Matches,Winter Gold,Winter Silver,Winter Bronze,Winter Total,Total Matches,Total Gold,Total Silver,Total Bronze,Total Medals
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,13.476190,65.428571,64.965986,69.795918,200.190476,6.700680,13.047619,13.034014,12.897959,38.979592,20.176871,78.476190,78.000000,82.693878,239.170068
std,7.072359,405.549990,399.309960,427.187344,1231.306297,7.433186,80.799204,80.634421,79.588388,240.917324,13.257048,485.013378,478.860334,505.855110,1469.067883
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.500000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,7.000000,12.000000
75%,18.500000,24.000000,28.000000,29.000000,86.000000,10.000000,1.000000,2.000000,1.000000,5.000000,27.000000,25.500000,29.000000,32.500000,89.000000
max,27.000000,4809.000000,4775.000000,5130.000000,14714.000000,22.000000,959.000000,958.000000,948.000000,2865.000000,49.000000,5768.000000,5733.000000,6078.000000,17579.000000

In [148]:
data['Total Medals'].mean(axis='rows')

239.17006802721087

In [149]:
data.mean(axis='columns').head().iloc[3]

4.666666666666667