In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
d = {'a':10,'b':20,'c':30}
arr = np.array(my_data)

In [3]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(data = arr,index = labels)

a    10
b    20
c    30
dtype: int32

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
ser1 = pd.Series([1,2,3,4],['USA','GERMANY','USSR','JAPAN'])

In [9]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,5,4],['USA','GERMANY','ITALY','JAPAN'])

In [11]:
ser2

US         1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [12]:
ser1['GERMANY']

2

In [13]:
ser3 = pd.Series(data = labels)

In [14]:
ser3

0    a
1    b
2    c
dtype: object

In [15]:
ser3[2]

'c'

In [18]:
ser1 + ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64

In [19]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64